form {
    margin: auto;
    float: none;
    width: 30%;
    border: 2px solid #000000;
    padding: 20px;
    margin-top: 20px;
    border-radius: 23px;
}

input#summit {
    margin-bottom: 10px;
}

.error {
    color: #CF0000;
    display: none;
    text-align: left;
}

.sucessful {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
    text-align: center;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 15px;
}